openai~=0.27.6
termcolor~=2.3.0
jinja2~=3.1.2
fastapi~=0.95.1
requests~=2.30.0
uvicorn~=0.22.0
utils~=1.0.1
pytest~=7.3.1
operators~=1.0.1
chromadb~=0.3.22
sse-starlette~=1.5.0
urllib3~=1.26.15
pandas~=1.5.3
psycopg2-binary~=2.9.6
langchain~=0.0.253
