# Copy and remove the .example at the end
incorta_api_access_token = ''
incorta_url = ''
use_human_for_chatgpt_4 = True
enable_ad_hoc_views_indexing = True
use_predefined_scenarios_whenever_possible = True

openai_gpt35_api_key = ""
openai_gpt35_api_type = "azure"
openai_gpt35_api_base = "https://test-gpt35.openai.azure.com"
openai_gpt35_api_version = "2023-05-15"
openai_gpt35_api_engine = "gpt35-model"

openai_gpt4_api_key = ""
openai_gpt4_api_type = ""
openai_gpt4_api_base = ""
openai_gpt4_api_version = ""
openai_gpt4_api_engine = ""

openai_text_ada_api_key = ""

db_host = "database"
db_name = "ecommerce"
db_user = "root"
db_password = "root"
db_port = "5432"
test_env = "test_env"

# SETTING MODE OPTIONS
sessions_setting_mode = True
overwrite_if_exists = True

# GENERAL AGENT
# GETTING MODE OPTIONS
sessions_getting_mode = True  # Must be enabled to enable any of the following get_ flags
get_all = True
get_plan_response = True
get_op_command = True
get_op_result = True
get_op_enhanced_result = True


# Name of MYSQLCOMPANY
service_name = "postgres"
operators_path = "operators." + service_name
